# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
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
