body {
    background-color: #01949a;
    color: #e5ddc8;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .App {
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    color: #e5ddc8;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }